body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 200px;
}

.headerRight {
    font-size: 24px;
    color: #f9faf8;
}

.headerLeft {
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    background-color: #1F2937;
}

.heroImage > img {
    height: auto;
    width: 500px;
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    gap: 8px;
}

.heroText > .mainText {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.heroText > .secondaryText {
    font-size: 18px;
    color: #e5e7eb;
}

.signUp {
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    align-self: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #f9faf8;
}