body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 200px;
}

.headerRight {
    font-size: 24px;
    color: #f9faf8;
}

.headerLeft {
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    background-color: #1F2937;
}

.heroImage > img {
    height: auto;
    width: 500px;
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    gap: 8px;
}

.heroText > .mainText {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.heroText > .secondaryText {
    font-size: 18px;
    color: #e5e7eb;
}

.signUp {
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    align-self: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #f9faf8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 200px;
    gap: 48px;
}

.infoHeader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.infoBits {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.bit {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    max-width: 200px;
    color: #6e6e6e;
}

.bit > img {
    height: auto;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 200px 500px;
    background-color: #e5e7eb;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.citation {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
}