body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 200px;
}

.headerRight {
    font-size: 24px;
    color: #f9faf8;
}

.headerLeft {
    font-size: 18px;
}